body {
    padding-top: 80px;
}

#page {
    .page-title {
        font-size: 24px;
        margin: 0 0 20px;
        display: block;
        border-bottom: 2px solid #ddd;
        padding: 0 0 5px;
    }
}